<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="mycon1"
			 connectionString="Data Source=DESKTOP-FCE1AML;Initial Catalog=GN22ADMDNF001;Integrated Security=true"
			 />
		
	</connectionStrings>
</configuration>